<!DOCTYPE html>
<html>
  <head>
    <title>Tiny moneybook</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Tiny moneybook</h1>
    <p>Record your weekly spendings.</p>
  </body>
</html>
